#app-grid {
    layout: grid;
    grid-size: 2;
    grid-columns: 1fr;
    grid-rows: 1fr 3;
}
#test-cases {
    height: 100%;
    border: dodgerblue;
}
#statement {
    height: 100%;
    border: dodgerblue;
}
#bottombar {
    min-height: 4;
    column-span: 2;
}
#cmd-input {
    width: 1fr;
}
#codefile-input {
    width: 1fr;
}
.test-text {
    width: 1fr;
    border: dodgerblue;
}
.statement-title {
    color: dodgerblue;
}
#cmd, #len {
    color: grey;
}
#code {
    margin-top: 1;
}
#submission-list {
    width: 22;
}
#submission-list > Label,
Submission {
    padding-left: 1;
}
#submission-details {
    margin: 1;
}
